body {
    padding:15px;
    background-image: url(http://subtlepatterns.subtlepatterns.netdna-cdn.com/patterns/otis_redding.png);
    font-family:"Lato", Calibri, Arial, sans-serif;
}
.clear {
    clear:both;
    padding:5px;
}
/* Valid */
.cool-one {
width: 500px;
border: 1px solid #3D484C;
background: #2D3538;
margin: 0 0 5px;
padding: 8px;
border-radius: 5px;
font-size: 12px;
padding-right: 30px;
color: #DDD;
}
.valid {
background: #2D3538 url(http://picbox.im/image/cba14e57f0-validicon.png) no-repeat 99% 50%;
background-position: right 6px center;
}
.invalid {
background: #2D3538 url(http://picbox.im/image/a43cdf7011-invalidicon.png) no-repeat 99% 50%;
background-position: right 6px center;
}

/* simple */
 .simple-input {
    display: block;
    padding: 5px;
    border: 4px solid #F1B720;
    border-radius: 5px;
    color: #333;
    transition: all 0.3s ease-out;
}
.simple-input:hover {
    border-radius: 8px
}
.simple-input:focus {
    outline: none;
    border-radius: 8px;
    border-color: #EBD292;
}
/* iOS inputs */
 .mac {
    display: block;
    border: none;
    border-radius: 20px;
    padding: 5px 8px;
    color: #333;
    box-shadow: inset 0 2px 0 rgba(0, 0, 0, .2), 0 0 4px rgba(0, 0, 0, 0.1);
}
.mac:focus {
    outline: none;
    box-shadow: inset 0 2px 0 rgba(0, 0, 0, .2), 0 0 4px rgba(0, 0, 0, 0.1), 0 0 5px 1px #51CBEE;
}
/* search */
 .new-search {
    border: 1px solid #B5C9D4;
    padding: 6px 15px;
    background: #ECF1F4;
    width: 235px;
    font-size: 12px;
    color: #3E7EA0;
    height: 18px;
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.4);
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    box-shadow: 0px 1px 1px rgba(255, 255, 255, 0.2), 0px 1px 3px rgba(25, 62, 83, 0.1) inset, 0px 0px 0px 8px rgba(155, 180, 195, 0.3);
}
.new-search:focus {
    outline: none;
}
#nav-search input {
    width: 180px;
    height: 20px;
    padding: 4px 6px;
    font-size: 14px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    background: none repeat scroll 0 0 #333333;
    border: 1px solid #030303;
    color: #ffffff;
    -moz-box-shadow: 0 0 5px #666;
    -webkit-box-shadow: 0 0 5px #666;
    box-shadow: 0px 0px 5px #666;
}
.textubuntu {
    background:rgba(0, 0, 0, 0.4);
    width:50%;
    border:none;
    resize:none;
    -webkit-border-top-left-radius: 8px;
    -webkit-border-bottom-left-radius: 8px;
    -moz-border-radius-topleft: 8px;
    -moz-border-radius-bottomleft: 8px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    padding:15px;
    box-shadow:0px 1px 0px rgba(225, 225, 225, 0.2), 0px 1px 0px rgba(0, 0, 0, 0.3) inset;
    outline:none;
    color:white;
    font-weight:bold;
    float:left;
    text-shadow:1px 1px 0px black;
    transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
}
.textubuntu:focus {
    width:70%;
    transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
}
.buttonubuntu {
    float:left;
    -webkit-border-top-right-radius: 8px;
    -webkit-border-bottom-right-radius: 8px;
    -moz-border-radius-topright: 8px;
    -moz-border-radius-bottomright: 8px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border:none;
    background: #606c88;
    background: -moz-linear-gradient(top, #606c88 0%, #3f4c6b 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #606c88), color-stop(100%, #3f4c6b));
    background: -webkit-linear-gradient(top, #606c88 0%, #3f4c6b 100%);
    background: -o-linear-gradient(top, #606c88 0%, #3f4c6b 100%);
    background: -ms-linear-gradient(top, #606c88 0%, #3f4c6b 100%);
    background: linear-gradient(to bottom, #606c88 0%, #3f4c6b 100%);
    padding:15px;
    box-shadow:0px 1px 0px rgba(225, 225, 225, 0.2), 0px 1px 0px rgba(0, 0, 0, 0.4) inset;
    outline:none;
    width:20%;
    text-transform:uppercase;
    color:white;
    letter-spacing:2px;
    text-shadow:1px 1px 0px rgba(0, 0, 0, 0.6);
    cursor:pointer;
}
.buttonubuntu:active {
    box-shadow:inset 0px 2px 1px rgba(0, 0, 0, 0.3);
}
.form-wrapper input:focus {
    outline: 0;
    background: white;
    -moz-box-shadow: 0 0 2px rgba(0, 0, 0, .8) inset;
    -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, .8) inset;
    box-shadow: 0 0 2px rgba(0, 0, 0, .8) inset;
}
.form-wrapper input {
    width: 230px;
    height: 10px;
    padding: 10px 5px;
    float: left;
    font: bold 15px'UbuntuTitlingBold', 'trebuchet MS', 'Tahoma';
    border: 0;
    background: rgb(238, 238, 238);
    -moz-border-radius: 3px 0 0 3px;
    -webkit-border-radius: 3px 0 0 3px;
    border-radius: 3px 0 0 3px;
}
.form-wrapper button:active, .form-wrapper button:focus {
    background: rgb(228, 149, 22);
}
.form-wrapper button {
    overflow: visible;
    position: relative;
    border: 0;
    padding: 0;
    cursor: pointer;
    height: 30px;
    width: 110px;
    font: bold 15px/30px'UbuntuTitlingBold', 'trebuchet MS', 'Tahoma';
    color: white;
    text-transform: uppercase;
    background: rgb(228, 149, 22);
    -moz-border-radius: 0 3px 3px 0;
    -webkit-border-radius: 0 3px 3px 0;
    border-radius: 0 3px 3px 0;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, .3);
}
.form-wrapper button:focus:before {
    border-right-color: rgb(228, 149, 22);
}
.form-wrapper button:before {
    content:'';
    position: absolute;
    border-width: 8px 8px 8px 0;
    border-style: solid solid solid none;
    border-color: transparent rgb(228, 149, 22) transparent;
    top: 7px;
    left: -6px;
}
/*** Coool One ***/
form#headersearch {
position: relative;
display: block;
}

form#headersearch input[type="text"] {
border-color: #C9E6DE;
    font-size: 13px;
line-height: 18px;
outline: none;
border: 1px solid #B1E1ED;
-webkit-appearance: none;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
float: left;
clear: none;
margin: 8px 0;
padding: 6px 5% 6px 0;
text-indent: 5%;
height: 15px;
line-height: 2;
width: 50%;
}

form#headersearch button[type="submit"] {
background: #72C1B0;
color: #C9E6DE;
border: none;
-webkit-appearance: none;
border: none;
float: left;
clear: none;
-webkit-border-bottom-right-radius: 4px;
-webkit-border-top-right-radius: 4px;
-moz-border-radius-bottomright: 4px;
-moz-border-radius-topright: 4px;
border-bottom-right-radius: 4px;
border-top-right-radius: 4px;
-webkit-border-top-left-radius: 0;
-webkit-border-bottom-left-radius: 0;
-moz-border-radius-topleft: 0;
-moz-border-radius-bottomleft: 0;
border-top-left-radius: 0;
border-bottom-left-radius: 0;
font-size: 13px;
font-weight: bold;
height: 27px;
line-height: 27px;
width: 57px;
text-align: center;
position: absolute;
top: 9px;
right: 223px;
-o-transition: all 0.1s linear;
-moz-transition: all 0.1s linear;
-webkit-transition: all 0.1s linear;
transition: all 0.1s linear;
cursor: pointer;
}

form#headersearch input[type="text"]:focus {
border-color: #72C1B0;
    background: #FFF;
border: 1px solid #45BCD2;
-o-transition: background 0.2s linear;
-moz-transition: background 0.2s linear;
-webkit-transition: background 0.2s linear;
transition: background 0.2s linear;
}

form#headersearch button[type="submit"] .hide {
display: none;

}

form#headersearch button[type="submit"]:hover {
background: #9BD0C2;
}

.ss-search:before, .ss-search.right:after {
content: 'Search';
}
